body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "NunitoSans-Regular";
  src: url("/font/NunitoSans-Regular.ttf");
}

.button {
  margin-top: 30px;
  width: 150px;
  padding: 15px;
  background: #10c9c3;
  text-align: center;
}

.button a {
  color: white;
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.logo {
  width: 100px;
}
    .gamburger,.X{display: none;}
.container {
  max-width: 1220px;
  margin-bottom: 170px;
  margin-top: 120px;
}

header {
  background: #e9e9e9;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a img {
  position: relative;
  top: 30px;
}

header menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header menu ul li {
  list-style: none;
  text-transform: uppercase;
}

header menu ul li a {
  font-family: "Montserrat-Medium";
  font-weight: bold;
  font-size: 12px;
  color: #272727;
  padding-left: 30px;
}

header menu ul li a:hover {
  color: #10c9c3;
}

header .webdesign {
  margin-left: auto;
  max-width: 430px;
  font-size: 18px;
}

header .webdesign p {
  font-family: "NunitoSans-Regular";
  color: #787878;
}

header .webdesign h1 {
  font-family: "Montserrat-Medium";
}

.container-about {
  font-family: "NunitoSans-Regular";
  margin: 70px auto;
  max-width: 600px;
  text-align: center;
  font-size: 16px;
}

.container-about h1 {
  font-family: "Montserrat-Medium";
}

.container-about p {
  margin-bottom: 30px;
  color: #787878;
}

.container-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  background: #f8f9f9;
}

.container-skill h1 {
  font-family: "Montserrat-Medium";
}

.container-skill p {
  font-family: "Montserrat-Medium";
  font-weight: bold;
  font-size: 12px;
  color: #272727;
  text-transform: uppercase;
}

.container-skill .skill {
  margin-bottom: 50px;
  display: block;
  max-width: 50%;
  height: 3px;
}

.wrapper {
  max-width: 1366px;
  margin: auto;
}

.wrapper .number {
  background: #10c9c3;
  color: white;
  font-family: "Montserrat-Medium";
}

.wrapper .number .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .number .box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  height: 80px;
}

.wrapper .number .box div img {
  margin-right: 25px;
  height: 40px;
}

.wrapper .number .box .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .number .box .row h4 {
  margin: 0;
}

.wrapper .number p {
  font-size: 12px;
  text-transform: uppercase;
}

.row span {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 8px;
}

.container-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-box .box .image {
  width: 333px;
  max-height: 265px;
  margin: auto;
}

.container-box .box .image img {
  width: 335px;
  max-height: 265px;
}

.container-box .box .image img:hover {
  opacity: 0.2;
}

.container-box .box .image:hover {
  background: url(../img/bground.png);
}

.load-more {
  font-size: 12px;
  text-transform: uppercase;
  background: #f5f5f5;
  color: #8e8e8e;
  font-family: "Montserrat-Medium";
  text-align: center;
  padding: 43px;
  font-weight: 500;
}

h1 {
  font-family: "Montserrat-Medium";
}

.our-process {
  text-align: center;
  max-width: 470px;
  margin: 100px auto 60px auto;
}

.our-process p {
  font-size: 16px;
  color: #787878;
}

.video {
  max-width: 1170px;
  margin: auto auto 50px auto;
}

article {
  background: #f5f5f5;
}

article .icons-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 75px;
  padding-bottom: 75px;
}

article .icons-info div {
  width: 235px;
  padding: 25px;
  text-align: center;
  margin: auto;
}

article .icons-info div h5 {
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
}

article .icons-info div h5 p {
  font-family: "NunitoSans-Regular";
  font-size: 16px;
  color: #787878;
}

.slider {
  position: relative;
  max-width: 820px;
  margin: auto;
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.switch label {
  display: inline-block;
  width: 5px;
  height: 5px;
  cursor: pointer;
  margin: 0 3px;
  border-radius: 50%;
  background-color: white;
}

#btn1:checked ~ .switch label[for="btn1"] {
  background-color: white;
  width: 8px;
  height: 8px;
}

#btn2:checked ~ .switch label[for="btn2"] {
  background-color: white;
  width: 8px;
  height: 8px;
}

#btn3:checked ~ .switch label[for="btn3"] {
  background-color: white;
  width: 8px;
  height: 8px;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides div pre {
  max-width: 820px;
  float: left;
  background: #10c9c3;
  color: white;
  font-family: "Montserrat-Medium";
  text-align: center;
  margin: 165px auto;
  font-size: 24px;
}

.slides div pre p {
  font-size: 12px;
  margin-top: 20px;
}

#btn1:checked ~ slider-inner slides {
  -webkit-transform: translate(0);
          transform: translate(0);
}

#btn2:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-805px);
          transform: translate(-805px);
}

#btn3:checked ~ .slider-inner .slides {
  -webkit-transform: translate(-1600px);
          transform: translate(-1600px);
}

.logos-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 70px auto;
}

.logos-img div {
  max-width: 150px;
  margin: auto;
  height: 90px;
}

.need-project {
  background: #f5f5f5;
  padding: 100px 0px;
}

.need-project p {
  font-size: 16px;
  color: #787878;
}

.need-project .button {
  margin: auto;
}

.need-project div {
  max-width: 675px;
  margin: auto;
  text-align: center;
}

.need-project div input {
  margin-top: 30px;
}

.need-project div input#input-1 {
  width: 320px;
  height: 48px;
  border: none;
}

.need-project div input#input-2 {
  width: 320px;
  height: 48px;
  margin-left: 27px;
  border: none;
}

.need-project div input#input-3 {
  width: 100%;
  height: 48px;
  border: none;
}

.need-project div textarea {
  border: none;
  resize: none;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 30px auto;
  width: fill-available;
}

.need-project div input::-webkit-input-placeholder, .need-project div textarea::-webkit-input-placeholder {
  padding-left: 20px;
  color: #787878;
  font-family: "NunitoSans-Regular";
  font-size: 15px;
}

.need-project div input:-ms-input-placeholder, .need-project div textarea:-ms-input-placeholder {
  padding-left: 20px;
  color: #787878;
  font-family: "NunitoSans-Regular";
  font-size: 15px;
}

.need-project div input::-ms-input-placeholder, .need-project div textarea::-ms-input-placeholder {
  padding-left: 20px;
  color: #787878;
  font-family: "NunitoSans-Regular";
  font-size: 15px;
}

.need-project div input::placeholder, .need-project div textarea::placeholder {
  padding-left: 20px;
  color: #787878;
  font-family: "NunitoSans-Regular";
  font-size: 15px;
}

ul {
  list-style: none;
}

footer {
  background: black;
  color: #bcbcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 180px;
  padding-top: 100px;
}

footer .wr-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wr-1 div:first-child {
  width: 440px;
  margin-left: 100px;
}

footer .contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
}

footer .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .pages ul {
  margin-left: 10px;
}

footer .social {
  margin-left: 75px;
}

video {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */