@media screen and (max-width: 1000px){
    header menu ul {
        padding: 0;
    }
    .logo {
        width: 0px;
    }
    menu {
        padding: 0;
    }
    .container-skill {
        align-items: center;
        padding: 0;
    }
    .skill {
        margin-bottom: 50px;
        display: block;
        max-width: 75%;
        height: 3px;
    }
    .container-box .box .image img {
        max-width: 320px;
        max-height: 265px;
        }
    .number {
        display: none;
    }
    footer{
        padding-top: 0px;
    }
    footer .pages {
        justify-content: center;
        width: 100%;
    }
    
} 
@media screen and (max-width: 1000px) and (min-width: 769px){
    header .webdesign {
        margin: auto;
        text-align: center;
        max-width: 530px;
    }
    .button {
        width: auto;
    }
    .container {
        margin-bottom: 85px;
        margin-top: 60px;
    }
    .container-box .box .image {
        width: 320px;
    }
    .container-about {
        max-width: 530px;
    }
    .wrapper .number .box div {
        width: 275px;
    }
}
@media screen and (max-width: 768px){
    .container {
        margin-bottom: 115px;
        margin-top: 80px;
    }
    .logo {
        width: 0px;
    }
	    header .nav menu#menu ul {
        flex-direction: column;
        display: none;
    }
	.gamburger{display:block;}
    .X{
        display:none;
        text-align: right;
        cursor: pointer;
    }
    
    header menu ul li a {
        padding-left: 20px;
        font-size: 10px;
    }
    header .webdesign {
        margin: auto;
        text-align: center;
    }
    .button {
        width: auto;
    }
    .container-about {
        max-width: 430px;
    }
    .container-box .box .image {
        width: 320px;
    }
    .need-project {
        padding: 50px 0px;
        font-size: 15px;
    }
    .need-project {
        padding: 50px 0px;
        font-size: 15px;
    }
    .need-project div {
        max-width: 500px;
    }
    .need-project div input#input-1,.need-project div input#input-2 {
       margin-right: 0px;
       margin-left: 0px;
    }
    .need-project div input#input-3 {
        width: 320px;
    }
     .need-project .button {
        width: 295px;
    }
    .need-project div textarea {
        width: 320px;
    
    }
    footer .wr-1 div:first-child {
        width: 290px;
        margin-left: 70px;
    }

}
@media screen and (max-width: 549px){
    header menu ul {
        flex-direction: column;
    }
    header menu ul li a {
        padding-left: 0px;
        font-size: 12px;
    }
    header .webdesign {
        margin: auto;
        max-width: 300px;
        font-size: 15px;
        text-align: center;
    }
    .container {
        margin-bottom: 70px;
        margin-top: 40px;
    }
    .container-about {
        max-width: 300px;
        font-size: 15px;
    }
    .button {
        width: auto;
        }
    .button a {font-size: 10px;}
    .container-skill {
        font-size: 15px;
    }
    .wrapper .number .box div {
        width: 215px;
    }
    .our-process{
        font-size: 15px;
        max-width: 300px;
    }
    article .icons-info {
        padding-top: 25px;
        padding-bottom: 26px;
    }
    .container-box .box .image img, .container-box .box .image {
        width: 300px;
        max-height: 240px;
    }
    .logos-img {
        flex-direction: column;
    }
    .need-project p {
        max-width: 300px;
        margin: auto;
    }
    .need-project {
        padding: 50px 0px;
        font-size: 15px;
    }
    .need-project div {
        max-width: 500px;
    }
    .need-project div input#input-1,.need-project div input#input-2 {
       margin-right: 0px;
       margin-left: 0px;
       width: 300px;
    }
    .need-project div input#input-3{
        width: 300px;
    } 
   .need-project .button {
        width: 275px;
    }
    .need-project div textarea {
        width: 300px;
    }
    footer {
        font-size: 13px;
        padding-top: 0;
        justify-content: center;
    }
    footer .pages ul {
        margin-left: 0px;
        padding-inline-start: 15px;
    }
    footer .wr-1 div:first-child {
        width: auto;
        margin-left: 10px;
    }
    footer .contacts {
        width: auto;
        margin: 8px 5px 0px 10px;
    }
    
}